:root {
  /* color */
  --TOFFEE: #9f825b;
  --LATTE: #d0bca0;
  --BROWNIE: #5e3023;

  --DANGER-SMOOTH: #f06449;
  --SUCCESS-SMOOTH: #386c0b;

  /* fonts */
  --FONT-PRIMARY: 400 normal 1rem "Caveat", monospace;
  --FONT-LABEL: 400 normal 4rem/1 "Caveat", monospace;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  font: var(--FONT-PRIMARY);
  color: var(--BROWNIE);
  background-color: var(--LATTE);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}