:root {
    /* color */
    --primary-color: #777e5c;
    --secondary-color: #12372a;
    --smooth-primary-color: #d1d8bd;
    --smooth-secondary-color: #fbfada;
    --vintage-white: #eeedeb;
    --vintage-bodily: #c7c2ab;
    --vintage-green: #283106;
    --vintage-dark: #3c3633;

    /* fonts */
    --font-primary: 400 normal 1rem "Cutive Mono", monospace;
    --font-label: 400 normal 4rem/1 "Major Mono Display", monospace;

    /* text */
    --font-base: 1rem;
    --font-smaller: 0.75rem;
    --font-title: 2rem;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    font: var(--font-primary);
    background-color: var(--vintage-bodily);
}

* {
    box-sizing: border-box;
}