:root {
    /* color */
    --primary-color: #b3b792;
    --secondary-color: #12372a;
    --smooth-primary-color: #adbc9f;
    --smooth-secondary-color: #fbfada;
    --vintage-white: #eeedeb;
    --vintage-bodily: #e5d2b8;
    --vintage-green: #6b7464;
    --vintage-dark: #3c3633;

    /* fonts */
    --font-primary: 400 normal 1rem "Cutive Mono", monospace;
    --font-label: 700 italic 4rem/1 "Courier Prime", monospace;

    /* text */
    --font-base: 1rem;
    --font-smaller: 0.75rem;
    --font-title: 2rem;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    font: var(--font-primary);
    background-color: var(--vintage-bodily);
}

* {
    box-sizing: border-box;
}