:root {
  /* color */
  --TOFFEE: #9f825b;
  --LATTE: #d0bca0;
  --LATTE-ACCESSIBLE: #e2d7c0;
  --BROWNIE: #5e3023;
  --BROWNIE-ACCESSIBLE: #4a1f13;

  --DANGER-SMOOTH: #f06449;
  --SUCCESS-SMOOTH: #386c0b;

  /* fonts */
  --FONT-PRIMARY: 400 normal 1rem "Caveat", cursive;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  font: var(--FONT-PRIMARY);
  color: var(--BROWNIE);
  background-color: var(--LATTE);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Caveat";
  src: url("/fonts/CaveatReg.woff2") format("woff2");
  font-display: optional;
  font-weight: normal;
  font-style: normal;
}

/* styles for description part in gallery type, it must be here cause i have raw strings in object from where it is added to innerHTML in component */
.headlineOfTextInDescription {
  font-weight: 700;
  letter-spacing: .1rem;
  padding-top: .6rem;
  font-size: 1.65rem;
}

.contentOfTextInDescription {
  opacity: .85;
}

.headlineOfTipInDescription {
  font-weight: 700;
  letter-spacing: .1rem;
  font-size: 1.65rem;
}

.contentOfTipInDescription {
  opacity: .85;
}