<nav>
  <ul>
    <li>
      <a
        routerLink="/about"
        routerLinkActive="aboutActive"
        ariaCurrentWhenActive="page"
        >About</a
      >
    </li>
    <li>
      <a
        routerLink="/"
        routerLinkActive="galleryActive"
        ariaCurrentWhenActive="page"
        >Gallery</a
      >
    </li>
    <li>
      <a
        routerLink="/contact"
        routerLinkActive="contactActive"
        ariaCurrentWhenActive="page"
        >Contact</a
      >
    </li>
  </ul>
</nav>
