:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4.125rem;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
}

nav {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: flex-end;
  padding-right: 4.5rem;
}

nav {
  display: flex;
  padding: 2rem 2rem 1rem;
}

a {
  all: unset;
  cursor: pointer;
  color: var(--vintage-bodily);
  font-size: 1.1rem;
}

a:not(:last-of-type) {
  margin-right: 1rem;
}

.activeLink {
  color: var(--vintage-bodily);
  text-decoration: line-through;
}
