:host {
  display: block;
  width: 100%;
  background-color: var(--primary-color);
}

.photo_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  grid-auto-rows: 100px;
}

.grid_item {
  background: var(--vintage-green);

  &.wedding {
    grid-row: span 6;
  }

  &.empty {
    grid-row: span 6;
    background: var(--primary-color);
  }

  &.love-story {
    grid-column: 1 / span 2;
    grid-row: span 6;
  }

  &.pregnant {
    grid-row: span 7;
  }

  &.family {
    grid-row: span 8;
  }

  &.atelier {
    grid-row: span 8;
  }

  &.krst {
    grid-row: span 7;
  }

  &.portair {
    grid-column: 1 / span 2;
    grid-row: span 6;
  }
}

.image_container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  position: relative;
}

.image_container span {
  position: absolute;
  bottom: 1px;
  left: 5px;
  font: var(--font-primary);
  color: var(--vintage-bodily);
  font-size: 1.25rem;
  z-index: 1;
}

.empty_section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.empty_section nav {
 position: absolute;
  top: 0;
  right: 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  display: flex;
  padding: 2rem 1rem 1rem 2rem;
}

a {
  all: unset;
  cursor: pointer;
  color: var(--vintage-bodily);
  font-size: 1.1rem;
}

a:not(:last-of-type) {
  margin-right: 1rem;
}

.activeLink {
  color: var(--vintage-bodily);
  text-decoration: line-through;
}
