:host {
  display: block;
  width: 100%;
  background-color: var(--primary-color);
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  grid-auto-rows: 100px;
}

.grid-item {
  background: var(--vintage-green);

  &.wedding {
    grid-row: span 6;
  }

  &.empty {
    grid-row: span 6;
    background: var(--primary-color);
  }

  &.love-story {
    grid-column: 1 / span 2;
    grid-row: span 6;
  }

  &.pregnant {
    grid-row: span 7;
  }

  &.family {
    grid-row: span 8;
  }

  &.atelier {
    grid-row: span 8;
  }

  &.krst {
    grid-row: span 7;
  }

  &.portair {
    grid-column: 1 / span 2;
    grid-row: span 6;
  }
}
