<div class="contact_container">
  <div class="contact_container__content">
    <div class="contact_container__content_title">
      <div class="image-container">
        <img
          src="assets/contact-photo.jpg"
          alt="contact photo"
          [@imageHover]="imageState"
          (mouseenter)="onHover()"
          (mouseleave)="onLeave()"
          (touchstart)="
            imageState = imageState === 'normal' ? 'hovered' : 'normal'
          "
        />
        <span>that's me</span>
      </div>
      <p>GET IN TOUCH</p>
    </div>
    <div class="contact_container__content_form">
      <form [formGroup]="newMessageForm" (ngSubmit)="onSubmit()">
        <div>
          <input
            id="name"
            type="text"
            formControlName="name"
            placeholder="Your name"
          />
        </div>
        <div>
          <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="Your email"
          />
        </div>

        <div>
          <input
            id="phone"
            type="tel"
            formControlName="phone"
            placeholder="Your phone"
          />
        </div>

        <div>
          <textarea
            id="message"
            type="text"
            formControlName="message"
            placeholder="Message to me..."
            rows="3"
          ></textarea>
        </div>
        <button type="submit">Send Message</button>
      </form>
    </div>
  </div>
</div>
