:host {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: var(--LATTE);
}

// menu logic
.menu_container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--TOFFEE);
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
nav {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: flex-end;
  display: flex;
  padding: 2rem 1rem 1rem 2rem;
}

a {
  all: unset;
  cursor: pointer;
  color: var(--LATTE);
  font-size: 1.1rem;
}

a:not(:last-of-type) {
  margin-right: 1rem;
}

.activeLink {
  color: var(--LATTE);
  text-decoration: line-through;
}

// container logic
.contact_container {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  padding: 7rem 3rem 3rem;
  margin: 0 auto;

  &__content {
    display: flex;
    height: 100%;
    gap: 8rem;

    &_title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;

      & > div > div > p {
        margin: 0.9rem 0 0;
        font: var(--font-label);
        color: var(--BROWNIE);
        font-size: 2.3rem;
      }
    }

    &_form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      flex-direction: column;
    }
  }
}

.or {
  margin: 2.5rem 0;
  font: var(--font-primary);
  font-size: 1.5rem;
}

.social_network {
  display: flex;
  gap: 2rem;

  & > div > a > img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }

  & > div > a {
    width: 2rem;
    height: 2rem;
    display: flex;
  }
}

// form logic
form {
  max-width: 400px;
  width: 100%;
  margin: 0;
  padding: 0;
}

input {
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  border: 0.23rem solid var(--TOFFEE);
  font: var(--font-primary);
  color: var(--BROWNIE);
  margin-bottom: 1.1rem;
  background-color: transparent;
  font-size: 1.15rem;
  box-sizing: border-box;
}

input::placeholder {
  color: var(--TOFFEE);
}

input:focus {
  outline: none;
  border-color: var(--BROWNIE);
}

.invalid {
  border-color: var(--danger-smooth);
}

// for preventing autofill styles
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: transparent !important;
  -webkit-text-fill-color: var(--BROWNIE) !important;
  transition: background-color 5000s ease-in-out 0s;
}
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  box-shadow: transparent !important;
  -webkit-text-fill-color: var(--BROWNIE) !important;
}

textarea {
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  border: 0.23rem solid var(--TOFFEE);
  font: var(--font-primary);
  color: var(--BROWNIE);
  margin-bottom: 1.1rem;
  background-color: transparent;
  font-size: 1.15rem;
  box-sizing: border-box;
  resize: none;
}

textarea::placeholder {
  color: var(--TOFFEE);
}

textarea:focus {
  outline: none;
  border-color: var(--BROWNIE);
}

.box {
  position: relative;
}

.error-message {
  color: var(--danger-smooth);
  font: var(--font-primary);
  font-size: 0.95rem;
  position: absolute;
  bottom: 0;
  left: 0;

  &.textarea {
    bottom: 0.25rem;
  }
}

button {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  font: var(--font-primary);
  border: none;
  color: var(--LATTE);
  background-color: var(--TOFFEE);
  cursor: pointer;
  font-size: 1.15rem;
  box-sizing: border-box;

  &.success {
    background-color: var(--success-smooth);
  }
  &.error {
    background-color: var(--danger-smooth);
  }
}

button:not(.success):not(.error):hover {
  background-color: var(--BROWNIE);
  color: var(--TOFFEE);
}

// img logic
.image-container {
  display: flex;
  max-width: 450px;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  position: relative;
  background-color: var(--BROWNIE);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  position: relative;
}

.image-container span {
  position: absolute;
  bottom: 0;
  left: 0;
  font: var(--font-primary);
  color: var(--LATTE);
  font-size: 1.05rem;
  z-index: 1;
}

// media queries
@media screen and (max-width: 1024px) {
  :host {
    height: auto;
  }

  .contact_container__content {
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 4rem;
  }

  .contact_container__content_title {
    align-items: center;

    & > p {
      text-align: center;
    }
  }

  .img {
    margin: 1rem 0 0;
  }
}
