:host {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: var(--LATTE);
}

// menu logic
.menu_container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--TOFFEE);
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

nav {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: flex-end;
  display: flex;
  padding: 2rem 1rem 1rem 2rem;
}

a {
  all: unset;
  cursor: pointer;
  color: var(--LATTE);
  font-size: 1.1rem;
}

a:not(:last-of-type) {
  margin-right: 1rem;
}

.activeLink {
  color: var(--LATTE);
  text-decoration: line-through;
}

// container logic
.about_container {
  max-width: 1400px;
  color: var(--BROWNIE);
  width: 100%;
  height: 100%;
  padding: 6rem 3rem 3rem;
  margin: 0 auto;

  &_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 3rem;
  }
}

// content logic
.title {
  margin: 0;
  font: var(--font-label);
  font-size: 2.3rem;

  &>p {
    margin: 0;
  }
}

.bio {
  font: var(--font-primary);
  font-size: 1.18rem;
  padding-bottom: 4rem;

  &>p {
    margin: 0 0 0.5rem;
  }
}

// img logic
.image-container {
  display: flex;
  max-width: 330px;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  position: relative;
  margin-top: 4rem;
  background-color: var(--BROWNIE);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  position: relative;
}

.image-container span {
  position: absolute;
  bottom: 0;
  left: 0;
  font: var(--font-primary);
  color: var(--LATTE);
  font-size: 1.05rem;
  z-index: 1;
}

// media queries
@media screen and (max-width: 1250px) {
  :host {
    height: auto;
  }
}