<div class="about_container">
  <div class="about_container_content">
    <div class="image-container">
      <img
        src="assets/about_photo.webp"
        alt="photo of me on about page"
        [@imageHover]="imageState"
        (mouseenter)="onHover()"
        (mouseleave)="onLeave()"
        (touchstart)="
          imageState = imageState === 'normal' ? 'hovered' : 'normal'
        "
      />
      <span>that's me</span>
    </div>
    <div class="title">
      <p>hey, i am anna</p>
    </div>
    <div class="bio">
      <p>
        Hi, I'm a passionate photographer with a love for capturing life's most
        meaningful moments. Whether it's the soft glow of a sunset over a couple
        in love, the joy of a family gathering, or the quiet beauty in everyday
        life, I believe every picture tells a story. My goal is to not only
        capture images but also emotions and memories that will be cherished for
        years to come.
      </p>
      <p>
        With 4 years of experience behind the camera, I specialize in portrait,
        wedding, moments.... My style is a blend of candid and natural, aiming
        to create timeless images that reflect the authentic essence of each
        moment.
      </p>
      <p>
        Beyond the lens, I am a nature lover and traveler. I find inspiration in
        the little things, the way light dances through trees, a heartfelt
        laugh, or a fleeting glance that speaks a thousand words. Photography
        allows me to freeze these moments in time, and it's an honor to share
        them with you.
      </p>
      <p>
        Whether you are looking to capture a milestone event or simply create
        beautiful memories, I am here to help tell your story, one frame at a
        time.
      </p>
    </div>
  </div>
</div>
