<div class="menu_container">
  <nav>
    <a routerLink="/about-me" routerLinkActive="activeLink" ariaCurrentWhenActive="page" i18n>O mne</a>
    <a routerLink="/gallery" routerLinkActive="activeLink" ariaCurrentWhenActive="page" i18n>Galéria</a>
    <a routerLink="/contact-me" routerLinkActive="activeLink" ariaCurrentWhenActive="page" i18n>Kontakt</a>
  </nav>
</div>
<div class="gallery-container">
  <div class="title-for-gallery">
    <img [src]="'assets/gallery_' + type() + '.avif'" alt="title of gallery"
      [class.adjusted-title]="type() === 'portrait' || type() === 'love-story'"
      [class.pregnancy-title]="type() === 'pregnancy'" />
    @switch (type()) {
    @case ('baptism') {
    <h1 i18n>Krsty</h1>
    }
    @case ('weddings') {
    <h1 i18n>Svadby</h1>
    }
    @case ('portrait') {
    <h1 i18n>Portréty</h1>
    }
    @case ('love-story') {
    <h1 i18n>Príbehy lásky</h1>
    }
    @case ('family') {
    <h1 i18n>Rodina</h1>
    }
    @case ('studio') {
    <h1 i18n>Ateliér</h1>
    }
    @case ('pregnancy') {
    <h1 i18n>Tehuľky</h1>
    }
    }
  </div>

  <div class="description-for-gallery">
    @if (type() === "baptism") {
    <div class="selection-of-baby-type">
      <p>Krsty</p>
      <p>Bábetká</p>
    </div>
    }
    <div [innerHTML]="currentContent().description" class="description"></div>
    <div class="arrow-wrapper">
      <img src="assets/arrow.svg" alt="arrow" class="arrow-left" />
      <div class="gallery-tips">
        @for (tip of currentContent().tips; track $index) {
        @if (tip.trim()) {
        <div class="tip">
          <span class="tip-number">---</span>
          <div [innerHTML]="tip"></div>
          <span class="tip-number">---</span>
        </div>
        }
        }
      </div>
      <img src="assets/arrow.svg" alt="arrow" class="arrow-right" />
    </div>
  </div>

  @if (error()) {
  <div class="error-message">
    <p class="error">404</p>
    <p i18n>Niečo sa nám pokazilo, ADMIN už o chybe vie a pracuje na jej vyriešení, skúste to o pár hodín opäť prosím
    </p>
  </div>
  }

  @if (columnImages().length) {
  <div class="image-grid">
    @for (column of columnImages(); track column.columnIndex) {
    <div class="image-column">
      @for (image of column.images; track image.fullUrl) {
      <div class="image-card">
        <img [src]="image.fullUrl" loading="lazy" alt="some photo of actual section" />
      </div>
      }
    </div>
    }
  </div>
  }
</div>